@font-face {
    font-family: "阿里妈妈数黑体 Bold";
    font-weight: 700;
    src: url("//at.alicdn.com/wf/webfont/izZkj8jHdcJr/mDV8PKE1kuA7y-laTe3lY.woff2") format("woff2"),
    url("//at.alicdn.com/wf/webfont/izZkj8jHdcJr/ozWcTchquMBCLDUOEcmpC.woff") format("woff");
    font-display: swap;
}

.md-header__topic:first-child {
    font-family: "阿里妈妈数黑体 Bold";
    font-size: 20px;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 28px;
    border-radius: 10px;
}